*{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.1em;}
ul{ list-style: none;}
li{ font-size: 1.25em;}

button{
  font-size: 1.2em;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 10px;
  border: 1px solid #074A8D;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
  color: #fff;
  background-color: #074A8D;
}

button:hover{
  background-color: #0A65C0;
}

.container{
  max-width: 1400px;
  margin: auto;
}

.color-acento{ color: #074A8D;}

header{
  background-color: rgba(245,245,245);
}

header .logo{
  margin: 0;
  padding: 25px 30px;
  font-weight: bold;
  color: #074A8D;
  font-size: 1.6em;
}

header .container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

header nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 25px;
}

header a{
  padding: 5px 12px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1em;
  color: #000;
}

header a:hover {
  color: #074A8D;
}

#hero{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 90vh;
  color: #fff;
  background-image: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)) 
  ,url("media/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#hero h1{
  color: white;
}

#hero button{
  font-size: 1.75em;
}

#somos-villace .container{
  text-align: center;
  padding: 200px 12px;
}

#nuestras-referencias{
  background-color: #d1cece;
  color: #fff;
  text-align: center;
}

#nuestras-referencias .container{
  padding: 100px 0px;
}

#nuestras-referencias h2{
  margin-top: 0;
  font-size: 3.2em;
  color: black;
}

#nuestras-referencias p{
  display: none;
}

#nuestras-referencias .carta {
  background-position: center center;
  background-size: cover;
  padding: 50px;
  margin: 20px;
  border-radius: 25px;
}

.carta:first-child{
  background-image: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)) 
  ,url("media/ceramica-uno.jpg");
}

.carta:nth-child(2){
  background-image: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)) 
  ,url("media/ceramica-dos.jpg");
}

.carta:nth-child(3){
  background-image: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)) 
  ,url("media/ceramica-tres.jpg");
}

#ventajas .container{
  text-align: center;
  padding: 250px 12px;
}

#ventajas li{
  margin: 15px 0px;
  font-weight: bold;
}

#final{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #6B6B6B;
  color: #fff;
  height: 80vh;
}

#final h2{
  font-size: 9vw;
}

#final button{
  font-size: 5vw;
}

footer{
  background-color: rgb(230,230,230);
}

footer p{
  margin: 0;
  padding: 12px;
  color: rgb(100,100,100);
}

footer .container{
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

@media (min-width: 720px){
  header{
    position: fixed;
    width: 100%;
  }

  header .container{
    flex-direction: row;
    justify-content: space-between;
  }

  header nav{
    flex-direction: row;
    padding-bottom: 0;
    padding-right: 20px;
  }
  
  #hero h1 {
    font-size: 5em;
  }

  #somos-villace .container{
    display: flex;
    justify-content: space-evenly;
  }

  #somos-villace .texto{
    width: 50%;
    max-width: 600px;
    text-align: initial;
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #somos-villace h2{
    margin-top: 0px;
    margin-bottom: 30px;
  }

  #somos-villace .img-container{
    background-image:url("media/logo.jpg");
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    background-size: cover;
    background-position: center center;
    height: 500px;
    width: 400px;
  }

  #nuestras-referencias .referencias{
    display: flex;
    justify-content: center;
  }

  #nuestras-referencias p{
    display: block;
    margin-bottom: 20px;
  }

  #nuestras-referencias h3{
    margin-top: 0px;
    margin-bottom: 60px;
  }
  #nuestras-referencias .carta{
    padding: 65px;
    background-size: 100% 150px;
    background-repeat: no-repeat;
    background-position-y: 0;
    background-color: #777676;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
  }

  .carta:first-child{
    background-image: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)) 
    ,url("media/ceramica-uno-desk.jpg");
  }
  
  .carta:nth-child(2){
    background-image: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)) 
    ,url("media/ceramica-dos-desk.jpg");
  }
  
  .carta:nth-child(3){
    background-image: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)) 
    ,url("media/ceramica-tres-desk.jpg");
  }

  #ventajas{
    background-image: url("media/fondo-uno.jpg");
    background-size: 600px 400px;
    background-repeat: no-repeat;
    background-position: calc(100vw - 700px) 130px;
  }

  #ventajas .container{
    text-align: initial;
  }

  #ventajas ul{
    margin-left: 100px;
  }

  #final h2{
    font-size: 5em;
  }

  #final button{
    font-size: 2em;
  }

  footer .container{
    justify-content: flex-end;
  }
}

@media (min-width: 1200px){
  #ventajas{
    background-position-x: calc(100vw - 800px);
  }
}